@model ContactManager.Models.Contact

@{
    ViewData["Title"] = "Detail";
}

<div>
    <h4>Contact Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>
    </dl>

    <strong>Support: </strong>
    <email mail-to="support"></email>
    <br />

    <strong>Marketing: </strong>
    <email mail-to="marketing"></email>

    <div class="mt-5">
        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">All contacts</a>
    </div>
</div>
